.box1 {
  /* position: fixed; */
  /* width: 750px; */
  height: 500px;
  /* margin: 10px; */
  padding: 10px;
  /* top: 15%; */
  /* left:5%; */
  background-color: whitesmoke;
}
.box2 {
  /* position: fixed; */
  /* width: 450px; */
  height: 500px;
  /* margin: 10px; */
  padding: 10px;
  /* top: 15%; */
  /* right: 5%; */
  background-color: whitesmoke;
}
.navbar-brand {
  background: turquoise;
  color: white !important;
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  height: 60px;
}
.navbar-nav {
  color: gray;
}
.navbar-toggler {
  color: white;
}
h1 {
  color: turquoise;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}
.image {
  float: left !important;
  height: 30%;
  width: 30%;
}
.summary {
  float: left !important;
}
h3 {
  color: turquoise;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.box {
  background-color: whitesmoke;
  padding: 30px;
}
